:root {
    --background-nested-floating: #23211F;
    --background-primary: #23211F;
    --background-secondary:#23211F;
    --background-secondary-alt: #23211F;
    --background-tertiary: #23211F;
    --channels-default: #C4AF88;
    --interactive-active: #C4AF88;
    --channel-icon: #C4AF88;
    --interactive-normal: #C4AF88;
    --bg-overlay-2: #23211F;
}