/* Hide the left Bar */
.wrapper__216eb {
    border-width: 0px;
    border-left-width: 10px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #131110;
    max-width: 0px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0,.89,.32,1.22);
    transition-delay: 0s;
    box-shadow: 0px 0px 20px 8px #141312 inset;
}

.wrapper__216eb:hover {
    border-width: 0px;
    border-left-width: 0px;
    border-right-width: 30px;
    border-style: solid;
    border-color: #131110;
    max-width: 75px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0,.89,.32,1.22);
    transition-delay: 0s;
    box-shadow: 0px 0px 20px 8px #141312 inset;
}

/* Folder Color */
.expandedFolderBackground_b1385f, .expandedFolderIconWrapper__324c1 {
    background-color: #1a120a;
    box-shadow: 0px 0px 5px #16120e;
}