/* Channels Margin */
.container__43fce {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 8px;
}
.content__3b07e {
    max-width: 220px;
}
.containerDefault_ae2ea4 {
    max-width: 220px;
}
.list__02208 {
    padding-left: 8px;
}